/* This section is used for the pokemon list and header */
body {
    background-color: #F5F5F5;
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.heading1{
    color: inherit;
    text-align: center;
}

.container{
    color: inherit;
    background-color: #CCCCCC;
    height: 50px;
    margin: 10px;
    list-style-type: none;
    width: 100%;
    padding: 20px;
}

/* This section is used for design of the modal only */
html {
    font-family: Arial, sans-serif;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content (attn: this causes an issue because that bootstrap adds <div class="modal-backdrop fade show"> overlapping the modal)*/
    z-index: 999; /* resolved by adding this to the HTML-file: data-backdrop fade show="false" which causes an error highlighted by HTML-linter */

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.img {
	 width: 30%;
}
/* design modal end */
